In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv(r'C:\Users\welcome\Downloads\diabetes.csv')

In [3]:
# Head
df.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
# Tail
df.tail(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
# by columns
df['Glucose'][:5]

0    148
1     85
2    183
3     89
4    137
Name: Glucose, dtype: int64

In [6]:
# by slicing
df[:5]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
df[-5:]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

### Selection by Label

In [8]:
df.loc[0]

Pregnancies                   6.000
Glucose                     148.000
BloodPressure                72.000
SkinThickness                35.000
Insulin                       0.000
BMI                          33.600
DiabetesPedigreeFunction      0.627
Age                          50.000
Outcome                       1.000
Name: 0, dtype: float64

In [9]:
df.loc[0,'BMI']

33.6

In [10]:
print(df.loc[0,'BMI'].astype(int))
print(df.loc[0,'BMI'].astype(np.float16))
print(df.loc[0,'BMI'].astype(np.float64))

33
33.6
33.6

In [11]:
df.loc[0,{"Glucose","BMI"}]

BMI         33.6
Glucose    148.0
Name: 0, dtype: float64

In [12]:
df.loc[0:5,{"Glucose","BMI"}]

    BMI  Glucose
0  33.6      148
1  26.6       85
2  23.3      183
3  28.1       89
4  43.1      137
5  25.6      116

### Selection by Position

In [13]:
df.iloc[10]

Pregnancies                   4.000
Glucose                     110.000
BloodPressure                92.000
SkinThickness                 0.000
Insulin                       0.000
BMI                          37.600
DiabetesPedigreeFunction      0.191
Age                          30.000
Outcome                       0.000
Name: 10, dtype: float64

In [14]:
df.iloc[0:6,:]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0

In [15]:
df.iloc[2:6,0:5]

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin
2            8      183             64              0        0
3            1       89             66             23       94
4            0      137             40             35      168
5            5      116             74              0        0

### Data filtering

In [16]:
df[df['BMI']>40].head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
4,0,137,40,35,168,43.1,2.288,33,1
16,0,118,84,47,230,45.8,0.551,31,1
18,1,103,30,38,83,43.3,0.183,33,0
41,7,133,84,0,0,40.2,0.696,37,0
43,9,171,110,24,240,45.4,0.721,54,1

In [17]:
df[df['Outcome']==1].head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
2,8,183,64,0,0,23.3,0.672,32,1
4,0,137,40,35,168,43.1,2.288,33,1
6,3,78,50,32,88,31.0,0.248,26,1
8,2,197,70,45,543,30.5,0.158,53,1

In [18]:
df[df['Pregnancies'].isin([5,3])].head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
14,5,166,72,19,175,25.8,0.587,51,1
20,3,126,88,41,235,39.3,0.704,27,0
29,5,117,92,0,0,34.1,0.337,38,0

In [19]:
df[~df['Pregnancies'].isin([5,3])].head() ##Negation

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1